/* Elements */
html {
  background-color: #f4f4f4;
  min-height: 30px;
  /* This looks weird but required for firefox to behave like we want it to (you can't just say width: 300px) */
  min-width: 300px;
  max-width: 300px;
  font-family: sans-serif;
}

body {
  padding: 0;
}

button {
  padding: 8px 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 20px;
  user-select: none;
  width: 40%;
  transition: 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.7;

    &:active {
      opacity: 0.5;
    }
  }
}

hr {
  margin: 0;
  padding: 0;
  border: 1px solid gray;
  border-top: none;
}

h1 {
  margin: 0;
}

h4 {
  font-size: small;
  text-align: center;
  font-weight: normal;
  padding: 2px 20px;
}

p {
  /* margin-bottom: 20px; */
  text-align: center;
  font-size: small;
}

img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  user-select: none;
}

table {
  padding-bottom: 5px;
}

caption {
  text-align: left;
  font-weight: bold;
  padding-left: 8px;
}

tr,
th,
td,
table {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

input {
  text-align: center;
  min-height: 25px;
  font-size: small;
  /* Because firefox will stretch it outside its bounds a lil bit */
  width: 95%;
}

a {
  color: inherit;

  &:hover {
    color: gray;
  }
}

dialog {
  align-self: anchor-center;
  margin: auto 5%;
  transition: 0.5s;
}

/* Classes */
.screen {
  background-color: white;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 0px;
}

#activation {
  background-color: inherit;
}

.steps {
  position: relative;
  margin: auto;
}

.slide,
.oneSlide {
  color: black;
  padding: 5px;
  border-radius: 5px;
  background-color: #fafafa;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.oneSlide {
  display: block;
}

/* SVG checkmark */
.checkmark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  stroke-width: 3;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  /* Total time, start time */
  animation: fill 0.3s ease-in-out 0.2s forwards, scale 1s ease-in-out 0.1s both;
}

/* Circle outline */
.checkmarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  /* Total time, start time */
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1), forwards;
}

/* Inner white checkmark  */
.checkmarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  /* Total time, start time */
  animation: stroke 0.3s linear 0.7s forwards;
}

.approve,
.deny {
  &.approve {
    background-color: #3eb53e;
  }

  &.deny {
    background-color: #eb4034;
  }

  color: white;
  width: 66%;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: normal;
  font-weight: bold;
  transition: 0.15s ease-in-out;
}

/* IDs */
#qrSearchText {
  font-weight: bold;
}

#prev,
#next {
  padding: 3px 0px;
  text-align: center;
  width: 100%;
  font-size: large;
  border-radius: 10px;
}

#counter {
  padding: 0;
  margin: 0;
}

/* Buttons */
#activateButton {
  width: auto;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 3px;
}

#helpButton {
  width: 26px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transform-origin: center;
  transition: transform 0.25s ease-out;
  border: none;
  color: inherit;

  &:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.25s ease-out;
  }
}

#openOptions {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

/* Evil red bg */
#deleteButton {
  width: 100%;

  &:hover {
    color: white;
    opacity: 1;
    border-color: red;
    background-color: red;
  }
}

#totpCode {
  font-size: x-small;
  padding: 2px;
  margin: 0;
}

#gear {
  pointer-events: bounding-box;

  &:hover {
    cursor: pointer;
  }
}

#gear,
#gearChange {
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

/* Only the inner gear should change size */
#gear:hover #gearChange {
  transform: scale(1.15) rotate(90deg);
}

#gear:active #gearChange {
  transform: scale(1) rotate(90deg);
}

#errorSplash {
  padding: 0;
  margin: 12px 0;
}

/* Settings */
#settings {
  padding: 0;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  /* Sometimes error messages cause the text to be long */
  word-wrap: break-word;

  & table {
    margin-top: 8px;
    padding: 0 10px;
  }

  & caption {
    font-size: small;
  }

  & th {
    font-size: small;
    text-align: left;
    /* padding-left: 10px; */
    font-weight: normal;
  }

  & td {
    padding: 6px 0;
  }

  /* Need to compress settings where possible */
  & h4 {
    padding: 0;
    margin: 0;
  }
}

#deviceSettingsDiv {
  border-bottom: 1px solid grey;
}

#approveTable {
  border: 1px solid gray;
  border-radius: 5px;
}

#approveTable td:nth-child(2n + 1) {
  width: 30%;
}

#pushButton,
#verifyButton {
  margin-bottom: 2px;

  &:disabled {
    background-color: #ddd;
    border-color: #aaa;
    color: #888;
    cursor: wait;
  }
}

#successDetails {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

#failedReason {
  overflow-wrap: break-word;
}

#failedReason pre {
  text-wrap: wrap;
  text-align: left;
  border: 1px solid;
  border-radius: 10px;
  padding: 8px;
  margin: 0px 4px;
}

.failedReasonBackground {
  margin: 10px;
  padding: 2px 10px;
  background-color: #eee;
  border-radius: 10px;
}

#clickLogin {
  background-color: red;
}

#openOptions {
  margin-bottom: 8px;
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

/* Universal / Traditional toggle */
.instructions {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 14px;
  font-size: small;
  border-radius: 10px;

  /* For each child */
  > * {
    width: 100%;
  }
}

.instructions-class {
  display: none;

  &:checked + .instructions-label {
    font-weight: bolder;
    background-color: #555;
    color: white;
  }
}

.instructions-label {
  padding: 10px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: gray;
  }
}

.hidden-panel {
  display: none;
}

.instructions:has(#universal-button:checked) ~ .slide .traditional-panel,
.instructions:has(#traditional-button:checked) ~ .slide .universal-panel {
  display: block;
  opacity: 1;
}

.inputButtonCouple {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid grey;

  > * {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}

select {
  height: 25px;
  max-width: 140px;
  border-radius: 3px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  html {
    color: rgb(230, 230, 230);
    background-color: #282828;
  }

  button {
    color: white;
    background-color: #555;
    border-color: #a6a6a6;

    &:disabled {
      color: #aaa;
      background-color: #505050;
      border-color: #a6a6a6;
    }
  }

  a:hover {
    color: #bbb;
  }

  .failedReasonBackground {
    background-color: #282828;
  }

  .screen {
    background-color: #333;
  }

  .slide,
  .oneSlide {
    color: white;
    background-color: #282828;
  }

  .instructions-label {
    background-color: #333;

    &:hover {
      color: gray;
    }
  }

  .instructions-class {
    &:checked + .instructions-label {
      background-color: #eee;
      color: black;
    }
  }

  select {
    color: white;
    background-color: #555;
    border-color: #a6a6a6;
  }
}

/* Ripped from Authenticator extension <3 */
#totp {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
}

#totp svg {
  width: 12px;
  height: 12px;
}

#totp circle {
  fill: none;
  stroke: grey;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-width: 8px;
  stroke-dasharray: 25.12;
  animation: timer 30s linear infinite;
}

@keyframes timer {
  to {
    stroke-dashoffset: -25.12;
  }
}

#verifyButton {
  margin-top: 10px;
}

#pin-container {
  padding: 6px;
  display: grid;
  gap: 0.5rem;
  margin: 0 auto;
}

.pin-input {
  font-size: 2rem;
  text-align: center;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}
